h1{
    margin-bottom: 0;
    margin-top: 40px;
    color: darken(#fff,10%);
    @include responsive-below(sm){
        color: inherit;
    }
}

.story{
    @include font-regular;
    font-size: 1.3em;
    padding-top: 40px;
    line-height: 1.8;
    animation: fadeIn 1s;
    @include responsive-below(sm){
        font-size: 1.1em;
        padding-top: 30px;
    }
}

.replies{
    animation: fadeIn 1s;
    
    ul{
        list-style: none;
        padding: 0;
        margin-top: 30px;
        
        li{
            
            button{
                color: darken(#007bff, 10%);
                border: 0;
                background: 0;
                @include font-bold;
                font-size: 1.3em;
                transition: 0.25s;
                padding: 6px 0;
                cursor: pointer;
                @include responsive-below(sm){
                    font-size: 1em;
                }
            }
            
            button:hover{
                color: #007bff;
            }
            
            .grey{
                color: darken(lightslategrey, 10%) !important;
            }
            
            .grey:hover{
                color: lightslategrey !important;
            }
        }
    }
    
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.alert-save{
    display: none;
    margin-top: 20px;
}

.player{
    .player-controls{
        .speaker{
            height: 60px;
            width: 60px;
            border-radius: 100%;
            position: fixed;
            right: 50px;
            bottom: 50px;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
            transition: 0.2s;
            cursor: pointer;
            @include responsive-below(sm){
                right: 15px;
                bottom: 15px;
            }
        }
        
        .speaker:hover{
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
        }
        
        // On/Off
        
        .speaker-on{

            background: #fff url(../img/speaker-on.png) no-repeat;
            background-position: center center;
            display: none;
        }
        
        .speaker-on:hover{
            background: #fff url(../img/speaker-on.png) no-repeat;
            background-position: center center;
        }
        
        .speaker-off{

            background: #F03434 url(../img/speaker-off.png) no-repeat;
            background-position: center center;
        }

        .speaker-off:hover{
            background: #F03434 url(../img/speaker-off.png) no-repeat;
            background-position: center center;
        }
    }
}